body {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 300;
  color: #000000;
  overflow-x: hidden;
  background: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  height: 80px;
  /* bottom: 0%; */

  background: #fff3e9;

  display: flex;
}

nav .logo {
  position: absolute;
  left: 5.56%;
  right: 79.17%;
  top: 12.5%;
  bottom: 12.5%;

  /* background: url(../images/ay_logo.png); */
}

nav .logo image {
}

nav ul {
  position: absolute;
  list-style: none;
  display: flex;

  position: absolute;
  left: 63.89%;
  right: 20.07%;

  /* right: 31.46%; */
  top: 33.75%;
  /* gap: 4.44%; */
  gap: 64px;
}

nav ul li a {
  /* Para */
  text-decoration: none;
  color: #000;
  font-size: 16px;
  line-height: 156.5%;
  /* identical to box height, or 25px */
}

nav .account {
  position: absolute;
  width: 48px;
  height: 48px;
  /* left: 1263.18px; */
  right: 129px;
  top: 20%;

  background: url(../images/ellipse_12.png);
}

/* intro section */
.intro-section {
  position: absolute;
  width: 277px;
  height: 44px;
  left: 155.81px;
  top: 147.21px;
}

.intro-title {
  font-size: 36.49px;
  line-height: 44px;
  /* identical to box height */
}

.intro-text {
  font-size: 22.78px;
  line-height: 160%;
  /* or 36px */

  margin: 0 0 25.92px 0;
}

.intro-content {
  position: absolute;
  /* width: 1066.93px; */
  height: 482.29px;

  display: flex;
  /* justify-content: center; */
  /* align-items: center; */

  gap: 5.56%;
}

.intro-video {
  /* position: absolute; */
  width: 634.48px;
  height: 398.07px;
  /* left: 156px; */
  /* top: 259.57px; */

  background: #c4c4c4;
  opacity: 0.7;
  border-radius: 16px;
}

.intro-details {
  display: flex;
  flex-direction: column;
  width: 432px;
  height: 482.29px;
  /* justify-content: space-between; */
}

.intro-details-tabs {
  display: flex;
  gap: 65.32px;
  /* gap: 10.78%; */
  margin-bottom: 35.55px;
}

.intro-details-tabs h3 {
  font-size: 22.78px;
  line-height: 27px;
}

.intro-details-tabs .tab-active {
  color: #fe5266;
  border-bottom: 2px solid #fe5266;
}

.intro-details .intro-details-text {
  margin: 0 0 87.12px 0;
}

.intro-details .intro-details-text p {
  font-size: 20.25px;
  line-height: 160%;
  /* or 32px */
}

.intro-details .price {
  margin: 0 0 43.69px 0;
  font-weight: 750;
  font-size: 18px;
  line-height: 156.5%;
  /* or 28px */

  /* GradientText */

  background: linear-gradient(90.19deg, #f24397 0.17%, #f64c3b 105.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

.intro-btns {
  display: flex;
  gap: 5.56%;
}

.btn-join {
  height: 69.92px;
  width: 133.41px;
  background: linear-gradient(90.19deg, #f24397 0.17%, #f64c3b 105.5%);
  border-radius: 50px;
  border: none;

  /* text */
  font-size: 18px;
  line-height: 156.5%;
  /* or 28px */

  color: #ffffff;
}

.btn-schedule {
  box-sizing: border-box;
  height: 69.92px;
  width: 172.44px;

  border-radius: 50px;
  border: 2px solid #f24397;
  background: linear-gradient(90.19deg, #f24397 0.17%, #f64c3b 105.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* end of intro */
/* start of program */
.program-section {
  position: absolute;
  width: 100vw;
  height: 442.4px;
  left: 0px;
  top: 785.12px;

  background: #fff3e9;
  opacity: 0.87;
  border-radius: 16px;

  display: flex;

  padding: 0 155.39px 0 160.12px;
}

.program-details {
  display: flex;
  flex-direction: column;

  line-height: 156.5%;
  /* or 59px */

  width: 500px;
  margin: 48.88px 0 0 0;
}

.program-details .program-title {
  font-size: 37.65px;
  margin: 0 0 12px 0;
}

.program-details .program-description {
  font-size: 18px;
  margin: 0 0 69.15px 0;
}
.program-timeline {
  display: flex;
  flex-direction: column;
  gap: 5.56%;
}
.program-timeline h3 {
  font-size: 37.65px;
  line-height: 97px;

  /* GradientText */
  background-clip: text;
  text-fill-color: transparent;
}
.program-timeline h3 span {
  font-size: 80.49px;
  line-height: 97px;

  /* GradientText */

  background: linear-gradient(90.19deg, #f24397 0.17%, #f64c3b 105.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.program-timeline p {
  font-size: 32.443px;
  line-height: 39px;
  /* identical to box height */

  color: #565656;
}
.program-pie img {
  position: absolute;
  width: 437.37px;
  height: 439.23px;
  left: 848.37px;
  /* margin: 48.88px 0 0 0; */
  /* top: 779px; */
}

/* end of program */
/* start of schedule */
.info-section {
  height: 1562.48px;
}
.schedule-section {
  position: absolute;
  width: 100vw;
  height: 442.4px;
  left: 0px;
  top: 1227.52px;

  background: #f5f5f5;
  opacity: 0.87;
  border-radius: 16px;

  display: flex;

  margin: 56.95px 136.11px 149.41px 177.3px;
  /* margin-top: 56.95px; */
}
.schedule-section .scedule-section-title {
  font-size: 30px;
  line-height: 156.5%;
}
.schedule-section .schedule-container {
  width: 1126.59px;
  height: 538.4px;
  left: 177.3px;
  top: 1419.04px;
  display: flex;
  gap: 155.55px;
  margin-top: 87.57px;
}
.schedule-section .schedule-container .schedule-image {
  width: 424.16px;
  height: 424.16px;

  background: #ffe7d6;
}
.schedule-section .schedule-container .schedule-details {
  /* width: 424.16px; */
  /* height: 424.16px; */
  display: flex;
  flex-direction: column;
}
.schedule-section
  .schedule-container
  .schedule-details
  .schedule-details-heading {
  font-size: 32.443px;
  line-height: 39px;
  margin-bottom: 38.37px;
  display: flex;
  gap: 210.34px;
}
.schedule-section .schedule-container .schedule-details .nav-btns {
  display: flex;
  gap: 19.34px;
  width: 35px;
  height: 35px;
  padding: 5px 0 0 0;
}
.schedule-section .schedule-container .schedule-details .nav-btns .btn-prev {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;

  border-right: 15px solid #fe5266;
  border-radius: 4px;
}
.schedule-section .schedule-container .schedule-details .nav-btns .btn-next {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;

  border-left: 15px solid #fe5266;
  border-radius: 4px;
}
.schedule-section
  .schedule-container
  .schedule-details
  .schedule-details-video {
  width: 475.67px;
  height: 283.12px;

  background: #c4c4c4;
  margin-bottom: 42.71px;
}
.schedule-section
  .schedule-container
  .schedule-details
  .schedule-details-video
  #week {
  box-sizing: border-box;

  position: absolute;
  width: 145px;
  height: 61.92px;

  margin: 159.5px 0 62.05px 331.67px;

  background: #ffffff;
  border: 1px solid rgba(77, 77, 77, 0.6);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}
.schedule-section .schedule-container .schedule-details .schedule-details-text {
  font-size: 18px;
  line-height: 156.5%;
  margin-bottom: 11.35px;
}
.schedule-section .schedule-container .schedule-details a {
  font-size: 22.78px;
  line-height: 160%;

  background: linear-gradient(90.19deg, #f24397 0.17%, #f64c3b 105.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
/* end of schedule */
/* team */
.team-section {
  position: absolute;
  width: 1058px;
  height: 609px;
  top: 1920px;
  left: 155.39px;
}
.team-section .team-section-title {
  font-size: 36.49px;
  line-height: 44px;
}
.team-section .teachers-container {
  display: flex;
  gap: 155.55px;
  margin-top: 87.57px;
}
.team-section .teachers-container .teacher-name-list {
}
.team-section .teachers-container .teacher-name-list ul {
  list-style: none;
  padding: 0;
}
.team-section .teachers-container .teacher-name-list ul li {
  padding: 0 0 52.62px 0;
}
.team-section .teachers-container .teacher-name-list ul .active {
  font-size: 28.83px;
  line-height: 35px;

  color: #fe5266;
  list-style: disc;
}
.team-section .teachers-container .teacher-name-list ul li a {
  font-size: 22.78px;
  line-height: 27px;
  color: #8c8c8c;
  text-decoration: none;
}
.team-section .teachers-container .teacher-details {
  display: flex;
  /* position: absolute; */
  width: 739px;
  height: 423px;

  background: #c4c4c4;
  /* opacity: 0.3; */
  border-radius: 16px;
}
.team-section .teachers-container .teacher-details .image-name-container {
  width: 278.18px;
  height: 278.18px;
}
.team-section
  .teachers-container
  .teacher-details
  .image-name-container
  .teacher-image {
  position: absolute;
  width: 182px;
  height: 160px;

  background: #fe5268;
  border-radius: 16px;
  margin: 39px 0 0 48.88px;
}
.team-section
  .teachers-container
  .teacher-details
  .image-name-container
  .teacher-imagess
  img {
  position: absolute;
  width: 226px;
  height: 226px;
  border-radius: 16px;
  margin: -37px 0 0 0;
}
.team-section .teachers-container .teacher-details .teacher-bio {
  width: 465px;
  height: 281px;

  font-size: 16px;
  line-height: 156.5%;

  color: #4d4d4d;
}

.team-section .teachers-container .teacher-details .teacher-nav-btns {
  display: flex;
  gap: 19.34px;
  width: 35px;
  height: 35px;
  padding: 5px 0 0 0;
  margin: 23px 0 0 0;
}
.team-section .teachers-container .teacher-details .teacher-nav-btns .btn-prev {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;

  border-right: 15px solid #fe5266;
  border-radius: 4px;
}
.team-section .teachers-container .teacher-details .teacher-nav-btns .btn-next {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;

  border-left: 15px solid #fe5266;
  border-radius: 4px;
}
/* end of team */

/* contact section */
.contact-section {
  position: absolute;
  width: 100vw;
  height: 458px;
  left: 0px;
  top: 2790px;

  background: #fff3e9;
  opacity: 0.87;
  border-radius: 16px;

  display: flex;

  padding: 0 155.39px 0 160.12px;

  display: flex;
  flex-direction: column;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 5.56%;
  margin: 48.88px 0 0 0;
}

.contact-actions {
  display: flex;
  /* flex-direction: column; */
  /* gap: 5.56%; */
  /* gap: 448px; */
  gap: 49.56%;

  border-bottom: 2px solid #000000;
  padding-bottom: 16px;
}

.contact-actions .contact-title {
  display: flex;
  flex-direction: column;
  gap: 5.56%;

  /* identical to box height */
}

.contact-actions .contact-title h3 {
  font-size: 28.83px;
  line-height: 35px;
  padding-bottom: 16px;
}

.contact-actions .contact-title p {
  font-size: 36.49px;
  line-height: 44px;
}
.contact-actions .contact-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  /* gap: 5.56%; */
  gap: 37px;
}
.contact-actions .contact-contacts p {
  font-size: 18px;
  line-height: 156.5%;
  /* or 28px */
}
.contact-details {
  display: flex;
  flex-direction: column;
  gap: 5.56%;
  margin: 48.88px 0 0 0;
  width: 521px;
  height: 75px;

  font-size: 16px;
  line-height: 156.5%;
}
/* end of contact section */

/* footer */
footer {
  position: absolute;
  width: 100vw;
  height: 81px;
  left: 0px;
  top: 3258px;

  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul {
  display: flex;
  gap: 22px;
}
footer ul li {
  font-size: 16px;
  line-height: 22px;

  color: #fff3e9;
}
footer ul :first-child {
  list-style: none;
}
footer ul li a {
  color: #fff3e9;
}
/* end of footer */
