body {
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-style: normal;
  background: #f5f5f5;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  height: 80px;
  /* bottom: 0%; */

  background: #fff3e9;

  display: flex;
}

nav .logo {
  position: absolute;
  left: 5.56%;
  right: 79.17%;
  top: 12.5%;
  bottom: 12.5%;

  /* background: url(../images/ay_logo.png); */
}

nav .logo image {
}

nav ul {
  position: absolute;
  list-style: none;
  display: flex;

  position: absolute;
  left: 63.89%;
  right: 20.07%;

  /* right: 31.46%; */
  top: 33.75%;
  /* gap: 4.44%; */
  gap: 64px;
}

nav ul li a {
  /* Para */
  text-decoration: none;
  color: #000000;
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 156.5%;
  /* identical to box height, or 25px */

  font-feature-settings: "tnum" on, "lnum" on;
}

nav .account {
  position: absolute;
  width: 48px;
  height: 48px;
  /* left: 1263.18px; */
  right: 129px;
  top: 20%;

  background: url(../images/ellipse_12.png);
}

/* intro section */
.intro-section {
  position: absolute;
  width: 277px;
  height: 44px;
  left: 155.81px;
  top: 147.21px;
}

.intro-title {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 300;
  font-size: 36.49px;
  line-height: 44px;
  /* identical to box height */

  font-feature-settings: "tnum" on, "lnum" on;
}

.intro-text {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 300;
  font-size: 22.78px;
  line-height: 160%;
  /* or 36px */

  font-feature-settings: "tnum" on, "lnum" on;
  margin: 0 0 25.92px 0;
}

.intro-content {
  position: absolute;
  width: 1066.93px;
  height: 482.29px;

  display: flex;
  /* justify-content: center; */
  /* align-items: center; */

  gap: 5.56%;
}

.intro-video {
  /* position: absolute; */
  width: 634.48px;
  height: 398.07px;
  /* left: 156px; */
  /* top: 259.57px; */

  background: #c4c4c4;
  opacity: 0.7;
  border-radius: 16px;
}

.intro-details {
  display: flex;
  flex-direction: column;
  width: 432px;
  height: 482.29px;
  /* justify-content: space-between; */
}

.intro-details-tabs {
  display: flex;
  gap: 65.32px;
  /* gap: 10.78%; */
  margin-bottom: 35.55px;
}

.intro-details-tabs h3 {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 300;
  font-size: 22.78px;
  line-height: 27px;
  font-feature-settings: "tnum" on, "lnum" on;
}

.intro-details-tabs .tab-active {
  color: #fe5266;
  border-bottom: 2px solid #fe5266;
}

.intro-details .intro-details-text {
  margin: 0 0 87.12px 0;
}

.intro-details .intro-details-text p {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 300;
  font-size: 20.25px;
  line-height: 160%;
  /* or 32px */

  font-feature-settings: "tnum" on, "lnum" on;

  color: #000000;
}

.intro-details .price {
  margin: 0 0 43.69px 0;
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 750;
  font-size: 18px;
  line-height: 156.5%;
  /* or 28px */

  font-feature-settings: "tnum" on, "lnum" on;

  /* GradientText */

  background: linear-gradient(90.19deg, #f24397 0.17%, #f64c3b 105.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.intro-btns {
  display: flex;
  gap: 5.56%;
}

.btn-join {
  height: 69.92px;
  width: 133.41px;
  background: linear-gradient(90.19deg, #f24397 0.17%, #f64c3b 105.5%);
  border-radius: 50px;

  /* text */
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 156.5%;
  /* or 28px */

  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.btn-schedule {
  box-sizing: border-box;
  height: 69.92px;
  width: 172.44px;

  border-radius: 50px;
  background: linear-gradient(90.19deg, #f24397 0.17%, #f64c3b 105.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* end of intro */
/* start of program */
.program-section {
  position: absolute;
  width: 1441.13px;
  height: 442.4px;
  left: 0px;
  top: 785.12px;

  background: #fff3e9;
  opacity: 0.87;
  border-radius: 16px;

  display: flex;

  padding: 0 155.39px 0 160.12px;
}

.program-details {
  display: flex;
  flex-direction: column;

  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 300;
  line-height: 156.5%;
  /* or 59px */

  font-feature-settings: "tnum" on, "lnum" on;

  color: #000000;

  width: 500px;
  margin: 48.88px 0 0 0;
}

.program-details .program-title {
  font-size: 37.65px;
  margin: 0 0 12px 0;
}

.program-details .program-description {
  font-size: 18px;
  margin: 0 0 69.15px 0;
}
.program-timeline {
  display: flex;
  flex-direction: column;
  gap: 5.56%;
}
.program-timeline h3 {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 300;
  font-size: 37.65px;
  line-height: 97px;
  font-feature-settings: "tnum" on, "lnum" on;

  /* GradientText */
  background-clip: text;
  text-fill-color: transparent;
}
.program-timeline h3 span {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 300;
  font-size: 80.49px;
  line-height: 97px;
  font-feature-settings: "tnum" on, "lnum" on;

  /* GradientText */

  background: linear-gradient(90.19deg, #f24397 0.17%, #f64c3b 105.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.program-timeline p {
  font-family: "Avenir LT Std";
  font-style: normal;
  font-weight: 300;
  font-size: 32.443px;
  line-height: 39px;
  /* identical to box height */

  font-feature-settings: "tnum" on, "lnum" on;

  color: #565656;
}
.program-pie img {
  position: absolute;
  width: 437.37px;
  height: 439.23px;
  left: 848.37px;
  /* margin: 48.88px 0 0 0; */
  /* top: 779px; */
}

/* end of program */
/* start of schedule */
.schedule-section {
  
}
/* end of schedule */